/* ========== MAIN ========== */
/* ////////////////////////////// INDEX.HTML ////////////////////////////// */
/* ========== BIENVENIDA ========== */
.bienvenida {
    &__video {
        width: 100%;
    }
}

/* ========== SUSCRIPCIÓN ========== */
.suscripcion {
    width: 100%;
    height: auto;
    background: $fondo-suscripcion;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    
    &__contenedor {
        width: 40%;
        height: 300px;
        margin: 0 auto;
        padding-top: 80px;
    }
    
    &__titulo {
        text-align: center;
        color: $color-blanco;
    }
    
    &__form {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    &__form--email {
        width: 100%;
        height: 40px;
        border-radius: 5px;
    }
    
    &__form--submit {
        width: 100px;
        height: 40px;
        font-family: $fuente-secundario;
        font-size: $fuente-btn;
        background-color: $color-secundario;
        font-weight: 500;
        border-radius: 5px;
        &:hover {
            background-color: $color-secundario-hover;
        }
    }    
}

/* ========== CLIENTES ========== */
.clientes {
    &__titulo {
        text-align: center;
        color: $color-negro;
    }
    
    &__contenedorLogos--link {
        display: inline-block;
        width: 155px;
    }
    
    &__contenedorLogos--img {
        width: 100%;
    }
}
/* ////////////////////////////// ACERCA.HTML ////////////////////////////// */
/* ========== HISTORIA ========== */

/* ========== EQUIPO ========== */
.equipo {
    margin: 0 auto;

    &__contenedorIntegrantes {
        padding: 30px;
    }
    
    &__informacion {
        background-color: $color-primario;
    }
    
    &__img {
        width: 100%;
    }
    
    &__nombre,
    &__funcion {
        color: $color-blanco;
    }
    
    .equipo__nombre {
        font-size: $fuente-sub-titulo;
    }
    
    .equipo__funcion {
        font-size: $fuente-parrafo;
    }
    
    .equipo__link {
        text-decoration: none;
    }
    
    .equipo__icono {
        font-size: 25px;
        color: $color-blanco;
        margin: 5px 5px 0px 5px;
    }
}

/* ========== MISION VISON ========== */

/* ////////////////////////////// SERVICIOS ////////////////////////////// */
.servicios {
    &__contenedor {
        width: 100%;
        padding: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__nombre {
        font-family: $fuente-secundario;
        text-align: center;
        font-size: 20px;
        font-weight: $fuente-700;
    }
      
    &__img {
        width: 70%;
    }
}

/* ////////////////////////////// PORTAFOLIO ////////////////////////////// */
.portafolio {
    &__botones {
        max-width: 600px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 5px;
    }
    
    &__ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;

        &--btn {
            padding: 0;
        }
    }
      
    &__li,
    &__li--btn {
        list-style: none;
        background-color: $color-primario;
        padding: 10px 22px;
        border-radius: 5px;
        margin: 20px 5px 0px 5px;
        color: $color-blanco;

        &:hover{
            background-color: $color-primario-hover;
            color: inherit;  
        }
    }
      
    &__link,
    &__link--btn {
        text-decoration: none;
        font-size: $fuente-btn;
        color: $color-blanco;
        font-family: $fuente-secundario;

        &:hover {
            color: $color-blanco;
        }
    }
      
    &__div {
        padding: 5px;
    }
      
    &__img {
        width: 100%;
        object-fit: cover;
        padding-top: 15px;
    }
}

/* ////////////////////////////// CONTACTO ////////////////////////////// */
.contacto {
    width: 75%;
    height: 700px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__contenedorEncabezado {
        width: 100%;
        margin-bottom: 50px;
    }

    &__parrafo {
        width: 100%;
    }
    
    &__derecha,
    &__izquierda {
        width: 48%;
        max-width: 500px;
        margin-top: 0;
        height: 500px;
    }
    
    &__derecha {
        min-height: 300px;
    }

    &__label {
        font-family: $fuente-secundario;
        color: $color-primario;
        font-size: $fuente-btn;
        display: block;
        font-weight: $fuente-400;
    }
    
    &__input,
    &__textarea {
        width: 100%;
        height: 30px;
        border-radius: 5px;
    }
    
    &__textarea {
        height: 150px;
    }
    
    &__btn {
        background-color: $color-transparente;
        border: 2px solid $color-primario;
        color: $color-primario;
        font-weight: $fuente-500;
        font-family: $fuente-secundario;

        &:hover {
            color: #ffffff;
            background-color: $color-primario;
            border: 2px solid $color-primario;
        }
    }
    
    &__informacion {
        width: 100%;
        padding: 30px 20px 30px 20px;
        background-color: $color-primario;
        border-radius: 10px;
        display: block;
    }
    
    &__datos {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    &__info {
        height: 10px;
        color: $color-blanco;
        font-family: $fuente-secundario;
        font-size: $fuente-parrafo;
        display: inline-block;
    }

    &__info--alto {
        height: auto;
        margin-bottom: 0;
    }

    &__icono {
        height: 15px;
        color: $color-blanco;
        font-size: $fuente-btn;
        display: inline-block;
        padding: 0px 20px;
    }

}